
.container__alterar-cpf{

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box1 {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.box1 input{    
    width: 400px;
    height: 45px;
    border-radius: 5px;
    border: solid 2px black;

    font-size: 20px;
    font-family: 'Inter', sans-serif;

    background-color: #d9d9d9;
}

.box2 {

    width: 400px;
    display: flex;
    align-items: center;
    gap: 150px;
}

.box2 button {
    border: solid 3px black;
    border-radius: 5px;

    font-size: 23px;
    font-weight: bolder;
    background-color: #55fb06;
    
    width: 150px;
    height: 40px;
}